table.topic, table.topics {
    width: 100%;
}
table.topic td, table.topics td {
    vertical-align: top;
    padding: 5px 20px 5px 5px;
}
table.topic td h1, table.topics td h2 {
    margin: 0;
    padding: 0;
}
td.meta {
    width: 100px;
    margin: 4px;
}
table.topics .created {
    color: #999;
    font-size: 90%;
}
table.topics .comment_stats {
    color: #999;
    border-top: 1px solid #CCC;
    font-size: 90%;
}



.responses {
    margin-left: 0px;
    padding-left: 0px;
    border-bottom: 2px solid #fcefbd;
}
.responses li { 
    list-style-type: none; 
}
.thread-0 { margin-left: 0px; }
.thread-1 { margin-left: 20px; }
.thread-2 { margin-left: 40px; }
.thread-3 { margin-left: 60px; }
.thread-4 { margin-left: 80px; }
.thread-5 { margin-left: 100px; }
.thread-6 { margin-left: 120px; }
.thread-7 { margin-left: 140px; }
.thread-8 { margin-left: 160px; }

