{% load i18n %}
{% load switchcase %}
{% load restructuredtext %}
{% load wiki %}
{% load markup %}
{% load avatar_tags %}
{% load extra_tagging_tags %}

<div class="items {% cycle odd,even %}">
    <div class="col_meta">
        <div class="details">
            <div class="avatar">
                {% avatar blog_post.author 40 %}
            </div>
            <div class="author">
                <a href="{% url profile_detail blog_post.author.username %}">{{ blog_post.author.username }}</a> 
            </div>
            <div class="date">
                {% trans "on" %} {{ blog_post.publish|date }}</p>
            </div>
            {# FIXME: this should be an inclusion tag #}
            <div class="comments_count">
                <img class="noborder" src="/site_media/pinax/images/silk/icons/comment.png" />
                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.comments_count }} {% trans "Comments" %}</a></p>
            </div>
        </div>
    </div>
    <div class="col_tease">
        <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
        {% if blog_post.tease %}
             {% with blog_post.tease as body %}
                {% if blog_post.markup %}
                    {% switch blog_post.markup %}
                        {% case 'rst' %} {{ body|restructuredtext|wikiwords|safe }} {% endcase %}
                        {% case 'mrk' %} {{ body|force_escape|markdown|wikiwords }} {% endcase %}
                        {% case 'txl' %} {{ body|force_escape|textile|wikiwords }} {% endcase %}
                    {% endswitch %}
                {% else %}
                    {{ body|force_escape|wikiwords|linebreaks|safe }}
                {% endif %}
            {% endwith %}
        {% else %}
            {% with blog_post.body|truncatewords:"150" as body %}
                {% if blog_post.markup %}
                    {% switch blog_post.markup %}
                        {% case 'rst' %} {{ body|restructuredtext|wikiwords|safe }} {% endcase %}
                        {% case 'mrk' %} {{ body|force_escape|markdown|wikiwords }} {% endcase %}
                        {% case 'txl' %} {{ body|force_escape|textile|wikiwords }} {% endcase %}
                    {% endswitch %}
                {% else %}
                    {{ body|force_escape|wikiwords|linebreaks|safe }}
                {% endif %}
            {% endwith %}
        {% endif %}
        <div class="tags">
            {% show_tags_for blog_post %}
        </div>
        {% include "blog/shareit.html"%}
    </div>
</div>
    <div class="clear_both">
    </div>
