{% load i18n %}
{% comment %}
<div id="powered_by">
    <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="{{ MEDIA_URL }}mycelia/images/css-powered.png" alt="{% trans "CSS" %}"/></a>
    <a href="http://validator.w3.org/check/referer"><img src="{{ MEDIA_URL }}mycelia/images/xhtml-powered.png" alt="{% trans "XHTML 1.0" %}"/></a>
    <a href="http://validator.w3.org/feed/docs/rss2.html"><img src="{{ MEDIA_URL }}mycelia/images/rss-powered.png" alt="{% trans "RSS" %}"/></a>
    <a href="http://inkscape.org/"><img src="{{ MEDIA_URL }}mycelia/images/inkscape-powered.png" alt="{% trans "Inkscape" %}"/></a>
    <a href=""><img src="{{ MEDIA_URL }}mycelia/images/tableless.png" alt="{% trans "tableless" %}"/></a>
    <a href="http://www.foaf-project.org/"><img src="{{ MEDIA_URL }}mycelia/images/foaf-powered.png" alt="{% trans "FOAF" %}"/></a>
    <a href="http://www.w3.org/RDF/"><img src="{{ MEDIA_URL }}mycelia/images/rdf-powered.png" alt="{% trans "RDF" %}"/></a>
    <a href="http://www.w3.org/Graphics/SVG"><img src="{{ MEDIA_URL }}mycelia/images/svg-powered.png" alt="{% trans "SVG" %}"/></a>
</div>
{% endcomment %}
<div id="powered_by2">
    <a href="http://www.gnu.org/copyleft/fdl.html"><img src="{{ MEDIA_URL }}mycelia/images/gfdl-powered.png" alt="{% trans "The content of this site is is available under the terms of the GNU Free Documentation License" %}"/></a>
    <a href="http://www.python.org/"><img src="{{ MEDIA_URL }}mycelia/images/python-powered.png" alt="{% trans "Python Powered" %}"/></a>
    <a href="http://pinaxproject.com/"><img src="{{ MEDIA_URL }}mycelia/images/pinax-powered.png" alt="{% trans "Pinax Powered" %}"/></a>
    <a href="http://www.djangoproject.com/"><img src="{{ MEDIA_URL }}mycelia/images/django-powered2.png" alt="{% trans "Django Powered" %}"/></a>
    <a href="http://mysql.com/"><img src="{{ MEDIA_URL }}mycelia/images/mysql-powered2.png" alt="{% trans "MySQL Powered" %}"/></a>
    <a href=""><img src="{{ MEDIA_URL }}mycelia/images/apache-powered.png" alt="{% trans "Apache Powered" %}"/></a>
    <a href=http://www.debian.org/"><img src="{{ MEDIA_URL }}mycelia/images/debian-powered.png" alt="{% trans "Apache Powered" %}"/></a>
{#    <a href="http://catb.org/~esr/faqs/hacker-howto.html"><img src="{{ MEDIA_URL }}mycelia/images/hacker-powered.png" alt="{% trans "Hacker" %}"/></a>#}
    <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)"><img src="{{ MEDIA_URL }}mycelia/images/hacker-powered.png" alt="{% trans "Hacker" %}"/></a>
{#    <a href=""><img src="{{ MEDIA_URL }}mycelia/images/startcom_secured_lock_80x15.png" alt="{% trans "Starcom Powered"/></a>#}
    {% comment %}
    <http://www.w3.org/2001/sw/DataAccess/>
    <http://www.w3.org/2004/OWL/>
    {% endcomment %}
</div>
