{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    {% blocktrans %}
Who we are?, well, err, we are human beings, something a bit more complex that a turing machine...
We think of us to be hackers, entendiendo por hacker someone who likes to play with technology, solving algorithmic problems and try to ecounter a social use of them, use then for a free society and use the gnu philosophy too. If you think the word hacker defines something different, sustituye it by what you like, as simply as people.
Well, we like technology, but this doesn't mean that don't like other things (a pesar de que la mayor parte del tiempo no veamos más mundo que nuestras pantallas) like sprinter, trees, mountains, see, rabbits, ping pong, trapecio, arabian baths, cariño, indígenas, etc.
We do this because nos apetece.
However, sometimes we need to use money, for that, we offer to make web applications with django/pinax or plone as freelancers.
    {% endblocktrans %}
    {% blocktrans %}
        Pinax includes the <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icon set 1.3</a> by Mark James.
    {% endblocktrans %}
{% endblock %}
