{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}


El contenido creado por este sitio estará bajo las condiciones de la licencia <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License</a>. Se anima así mismo a las usuarias a usar material libre de copyright.<br/>

Rhizomatik Labs no se hace responsable en ningún caso de los comentarios vertidos por las usuarias, estos son responsabilidad de los mismas. Así como tampoco se asume ningún tipo de responsabilidad con el material enlazado en estas páginas ya sean artículos, imágenes, audio o vídeo.<br/>

Este sitio mantiene la mínima información imprescindible sobre los usuarios exigida para el cumplimiento de la LSSI y para el funcionamiento correcto del sistema.<br/>

La información contenida no será utilizado con ningún otro fín que no sea el propio uso de la web, en la que no se realiza ningúnt tipo de actividade económica o comercial.<br/>

En cualquier momento el usuario podrá anular, modificar o acceder a los datos escribiendos un correo electronico a: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.<br/>

Recomendamos a nuestras usuarias y visitantes ser imaginativas a la hora de conectarse a nuestrás páginas y utilizar todas aquellas medidas que crean necesarias para mantener su privacidad intacta.<br/>

Recuerda, el gran hermano te vigila.

{% endblock %}
